root.dir=D:/Workspace/IRWorkspace/WikiIndexerNew/
dump.filename=WikiDump_1600_old.xml
#dump.filename=five_entries.xml
tknizer.nthreads=1
tmp.dir=D:/Workspace/IRWorkspace/WikiIndexerNew/Temp
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.PunctuationRule
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApostropheRule
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.HyphenRule
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SpecialCharRule
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.WhiteSpaceRule
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.DateRule
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.AccentRule
stwrds.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.StopwordRule
captl.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.CapitalizationRule
nmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.NumberRule
pretkn.rules=DATES,NUMBERS